@model RSSFeedReader.Web.Models.IndexViewModel
@using RSSFeedReader.Web.Helpers

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>News</title>
</head>
<body>
    <table class="table">
        <tr>
            <th>Channel ID</th>
            <th>Title</th>
            <th>Url</th>
            <th>Description</th>
            <th>Publication Date</th>
        </tr>
        @foreach (var item in Model.NewsItems)
        {
            <tr>
                <td>@item.RssChannelId</td>
                <td>@item.Title</td>
                <td>@item.Url</td>
                <td>@item.Description</td>
                <td>@item.PublicationDate</td>
            </tr>
        }
    </table>
    <br />
    <div class="btn-group">
        @Html.PageLinks(Model.PageInfo, x => Url.Action("News", new { page = x }))
    </div>
    <p>
        @Html.ActionLink("Back", "Index")
    </p>
</body>
</html>
